/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    padding: 60px 0px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width: 300px;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.btn_subir{
    padding: 7px 10px;
    margin: 0px 20px;
    z-index: 1;
    background-color: #000000a6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* text-decoration: none;
    font-weight: 500; */
    color: white;
    right: 0;
    bottom: 0;
    position: fixed;
}

.btn_subir:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}
/* HEADER */

.header{
    height: 600px;
    background: #FF0099;
    background: -webkit-linear-gradient(to right, #493240, #ff009963), url(./Fotos/portada.jpg);
    background: linear-gradient(to right, #493240, #ff009963), url(./Fotos/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-width: 300px;
}
.header_nav_2{
    display: none;
}
.header_nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
.header_nav ul li{
    display: inline-block;
}
.header_nav a{
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: white;
    font-weight: 300;
    margin-right: 20px;
}

.header_nav a:hover{
    text-decoration: underline;
}

.header section{
    display:flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header section h2{
    font-size: 30px;
    color: white;
}
.header section p{
    font-size: 20px;
    font-weight: 300;
    color: white;
}

#wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
}

.btn_check{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* HEADER RESPONSIVE */

@media(max-width:1164px){
    .header_nav{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .header_nav ul{
        padding-left: 0;
        margin-left: 0;
        margin: auto;
    }
    .header_nav ul li{
        margin: 0;
        padding: 30px 10px;
    }
    .header_nav ul li a{
        margin: 0;
        padding: 0;
    }
}

@media(max-width:1025px){
    .header section p{
        text-align: center;
    }
}

@media(max-width:558px){
    .btn_check{
        display: block;
    }
    .header_nav_2{
        display: block;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.904);
        top: 50px;
        left: -100%;
        transition: all 0.5s;
    }
    .header_nav_2 a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .header_nav{
        display: none;
    }
    #check:checked ~.header_nav_2{
        left: 0;
    }
}

@media(max-width:479px){
    .header section h2{
        text-align: center;
    }
}

/* ABOUT US */

.contenedor_sobre_nosotros{
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
    min-width: 300px;
}
@media(max-width:1050px){
    .contenedor_sobre_nosotros{
        flex-wrap: wrap;
        justify-content: center;
    }
    .img_nosotros{
        margin: 10px;
    }
    .sobre_nosotros .contenido_textos{
        margin: 10px;
        padding: 10px;
    }
}
@media(max-width:600px){
    .img_nosotros{
        padding-left: 20px;
    }
}
.img_nosotros{
    width: 500px;
    margin-right: 60px;
}
.contenido_textos{
    width: 500px;
    margin-top: 50px;
}

.contenido_textos h3{
    margin-bottom: 15px;
}

.contenido_textos h3 span{
    background: #4d0686;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 7px;
}

.contenido_textos p{
    padding: 0 0 30px 0;
    font-weight: 300;
    text-align: justify;
}

/* GALERIA */

.galeria_portafolio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 300px;
}
.container_portfolio{
    background-color: #f2f2f2;
}

.imagen_port{
    width: 30%;
    min-width: 300px;
    height: 400px;
    margin-bottom: 10px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen_port img{
    width: 100%;
    padding: 7px;
    height: 100%;
    margin: 10px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.hover_imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(276, 47%, 55%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover_imagen h3{
    color: #fff;
}
.hover_imagen p{
    color: #fff;
}
.imagen_port:hover .hover_imagen{
    transform: scale(1);
}

/* CLIENTES */

.article_clientes{
    background: #FF0099;
    background: -webkit-linear-gradient(to right, #493240, #ff009963), url(./Fotos/portada.jpg);
    background: linear-gradient(to right, #493240, #ff009963), url(./Fotos/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#titulo_clientes{
    color: white;
}

.clientes_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.card{
    width: 400px;
    margin: 20px 0px;
    text-align: justify;
}

/* SERVICIOS */

.about_section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
}
.about_section_cont{
    width: 400px;
    padding: 20px;
    background-color: #642a7375;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    text-align: justify;
    min-width: 300px;
    margin: 10px;
    margin: auto;
    transition: all 0.5s;
}
.about_section_cont:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.about_section_cont img{
    width: 350px;
    margin: auto;
    height: 300px;
}
.about_section_cont h3{
    margin: 10px;
}

.about_section_cont p{
    margin: 0px 5px;
    color: #fff;
    font-weight: 500;
}

/* FOOTER */

.footer{
    bottom: 0;
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
}

.contenedor_footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-width: 300px;
}

.contenedor_foo{
    margin: 20px 0px;
}
.contenedor_foo h4{
    font-size: 20px;
    color: #000000;
}
.contenedor_footer a{
    font-size: 14px;
    text-decoration: none;
}

@media(max-width:558px){
    .about_section_cont:hover{
        transform: scale(1);
        transition: all 0.5s;
    }
}

@media(max-width:490px){
    .contenedor_footer{
        display: block;
        margin: auto;
    }
    .contenedor_foo{
        margin-bottom: 0px;
    }
}

@media(max-width:375px){
    .about_section_cont{
        width: 320px;
    }
    .about_section_cont img{
        width: 270px;
    }
}

/* CONTACTO */

.body_contacto{
    background-image: url(../ProyectoBS/Fotos/portada2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header_contacto{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.header_nav_contacto{
    margin: 20px;
}
.header_nav_contacto a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.header_nav_contacto a:hover{
    text-decoration: underline;
}

/* FORM */ 

.contenedor_form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
}
.informacion_contacto{
    background-color: #b960cf;
    width: 400px;
    padding: 50px;
    border-top-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.692);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.informacion_contacto h3{
    text-transform: uppercase;
    text-align: center;
}
.informacion_contacto ul{
    padding: 0px;
}
.informacion_contacto li{
    list-style:none;
    padding: 10px;
    text-align: left;
    margin: 20px 0px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.form{
    padding: 20px;
    background-color: #f2f2f2;
    width: 600px;
    border-bottom-right-radius: 20px;
}

.mb-3 input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.mb-3 input:focus{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mb-3 textarea{
    resize: none;
    background-color: transparent;
    border-radius: 5px;
}

.div_btn_send{
    margin: auto;
    display: inline-block;

}


.btn_send{
    background-color: #b960cf;
    padding: 7px 10px;
    color: white;
    display: block;
    margin: auto;
    font-weight: 500;
    border-color: #b960cf;
}

.btn_send:hover{
    background-color: #642a73;
    border-color: #642a73;
}

@media(max-width:999px){
    .informacion_contacto{
        border-top-right-radius: 20px;
        width: 550px;
    }
    .form{
        width: 550px;
        border-bottom-left-radius: 20px;
    }
}

/* MAPA */

.contenedor_section iframe{
    padding: 20px;
    background-color: #f2f2f2;
}

.contenedor_section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px;
    min-width: 300px;
}

.map_section{
    width: 500px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.map_section h3{
    margin-top: 40px;
}


.lista_contacto li{
    display: block;
    text-align: center;
    margin: auto;
    list-style: none;
    margin: 40px 0px;
    font-weight: 500;
}

.map{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media(max-width:1099px){
    .map_section{
        width: 550px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .contenedor_section iframe{
        width: 550px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    .map_section h3{
        text-align: center;
        margin: 30px 20px 0px 20px;
    }
}